{% load static %}
<style>
    .non-actv {
        color: #002147 !important;
    }
    .li {
        color: #FFF !important;
    }
</style>
<nav class="navbar-default navbar-static-side "  role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu"id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class=".e" style="width: 100px; height: 100px: margin-left: 20px;" src="{% static 'backend/insipinia/img/ura.png' %}" alt="URA" />
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">                           
                            </a>
                        </div>
                        <div class="logo-element">
                           URA
                        </div>
                    </li>
                    
                    <li>
                        <a href="{% url 'dashboard' %}" class="li"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
                    </li>
                    {% if request.user.is_superuser %}  
                    <li>
                        <a href="{% url 'staff_list' %}" class="li"><i class="fa fa-users"></i> <span class="nav-label">Users Management</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 'departments_list'%}">Departments</a></li>
                            <li><a href="dashboard_2.html">Permissions</a></li>
                            <li><a href="{% url 'staff_list' %}">Staff</a></li>
                        </ul>
                    </li>

                    {% endif %}

                    <li>
                        <a href="{% url 'staff_list' %}" class="li"><i class="fa fa-tasks"></i> <span class="nav-label">Content Management</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 'category_list' %}">Manage Contents</a></li>
                            <li><a href="{% url 'content_list_all' %}">List of Contents</a></li>
                            <li><a href="{% url 'faq_list' %}">Faq Management</a></li>
                            <li><a href="{% url 'multimedia' %}">Multimedia </a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="" class="li"><i class="fa fa-question-circle"></i> <span class="nav-label">Survey Management</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 's_index' %}">Survey</a></li>
                            <li><a href="{% url 'responses'%}">Responses</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'f_index' %}" class="li"><i class="fa fa-forumbee"></i> <span class="nav-label">Forum Management</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 'f_index' %}">Manage Forum</a></li>
                            <li><a href="{% url 'responses'%}">Conversions</a></li>
                            <li><a href="{% url 'responses'%}">Posts and Topics</a></li>
                            <li><a href="{% url 'responses'%}">Forum feeds</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="" class="li"><i class="fa fa-check-square"></i> <span class="nav-label">Elearning Management</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 'e_index' %}">E-learning dashboard</a></li>
                            <li><a href="{% url 'subject' %}">Manage courses</a></li>
                            <li><a href="{% url 'quiz' %}">Manage Quizzes</a></li>
                            <li><a href="{% url 'report'%}">Reports</a></li>
                        </ul>
                    </li>
                   <li>
                       <a href="{% url 'feedback:feedback_list'%}" class="li"><i class="fa fa-comments-o"></i> <span class="nav-label">Feedback Management</span></a>
                    </li>
                    <li>
                        <a href="{% url 'thematisation' %}" class="li"><i class="fa fa-themeisle"></i> <span class="nav-label">Thematisation</span></a>
                    </li>
                    <li>
                        <a href="{% url 'logs' %}" class="li"><i class="fa fa-history"></i> <span class="nav-label">System Logs</span></a>
                    </li>
                    <li>
                        <a href="{% url 'trash' %}" class="li"><i class="fa fa-trash"></i> <span class="nav-label">Trash Bin</span></a>
                    </li>


                    <li>
                        <a href="{% url 'logout' %}" class="li"><i class="fa fa-sign-out"></i> <span class="nav-label">Sign out</span></a>
                    </li>
                     
                </ul>

            </div>
        </nav>