{% extends 'webapp1/Auth/main.html' %}
{% load static %}
{% block content %}
        <div class="col-md-6 col-lg-5">
          <div class="login-box bg-white box-shadow border-radius-10">
            <div class="login-title">
                            <h2 class="text-center text-colo"><div class="colo">Password reset complete</div></h2>
            </div>
           <form method="post" class="form-validate ">
                <hr class="divider" />
                <p class="colo">Your password has been successfully reset!. You may go ahead and log in now.</p>


                <a class="btn btn-primary text-white" href="{% url 'login' %}">Log in</a>

            
        </form>
          </div>
        </div>
      {% endblock content %}