{% extends 'webapp1/Auth/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="col-md-6 col-lg-5">
          <div class="login-box bg-white box-shadow border-radius-10">
            <div class="login-title">
                            <h2 class="text-center text-colo"><div class="colo">Complete the form below</div></h2>
            </div>
           <form method="post" class="form-validate">
                {% csrf_token %}
                <hr class="divider" />
                <div class="form-group">
                    <label for="login-username" class="label-material"></label>
                    {{form}}
                </div>
                <div class="form-group">
                    <button id="login" type="submit" name="loginSubmit" class="btn btn-primary text-white ">Submit</button>
                </div>
               
            </form>
          </div>
        </div>
      {% endblock content %}