{% extends 'webapp1/Auth/main.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .colo{
        color: #800A48;
    }
    .bg-co{
        background-color: #800A48;
    }
</style>
        <div class="col-md-6 col-lg-5">
          <div class="login-box bg-white box-shadow border-radius-10">
            <div class="login-title">
                            <h2 class="text-center text-colo"><div class="colo">Reset link sent</div></h2>
            </div>
              {% for message in messages %}
                    <div class="alert alert-danger {{ message.tags }} alert-dismissible" role="alert" timeout = 500 >
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                  {% endfor %}

          
                <p><div class="colo">we'he emailed you instruction for resetting your password.</div></p>



                {% comment %} <p class="colo">If you dont receive an email, please make sure you'he entered the address you registered with, and check your spam folder</p> {% endcomment %}

          </div>
        </div>
      {% endblock content %}